:root {
    --greyDark: #333333;
    --greyLight: #d6d6d6;
    --greyLight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }

  #contenedorVideo {
    width: 100%; /* O el porcentaje que desees */
    height: 600px; /* Ajusta la altura según tu diseño */
    border: none;
    box-shadow: none;
    overflow: hidden;
    position: relative;
  }

video {
    width: 100%;
    height: 100%;
    outline: none; /* Evita el contorno al hacer clic en el video */
  }
  
  a {
    text-decoration: none;
    font-weight: 300;
    color: #f5f5f7;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .black {
    color: var(--text) !important;
  }
  
  .dark-blue {
    color: #06c !important;
  }
  
  header {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
  }
  
  header ul {
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: var(--greyLight);
  }
  
  header ul li {
    cursor: pointer;
    list-style: none;
  }
  
  header ul li:hover {
    color: #fff;
  }
  
  header ul li img {
    width: 18px;
    height: 18px;
  }
  
  .information {
    height: 45px;
    width: 100%;
    background: var(--blue);
    text-align: center;
    line-height: 45px;
    margin-top: 45px;
  }
  
  .information img {
    width: 10px;
  }
  
  .information a {
    color: #fff;
  }
  
  .information-2 {
    background: #fff;
    color: var(--text);
    margin: 0;
  }
  
  .information-2 a {
    color: var(--blue);
  }
  
  .top__title {
    margin-top: 52px;
    color: var(--white);
    text-align: center;
    z-index: 3;
  }
  
  .top__title h1 {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: -1px;
  }
  
  .top__title h3 {
    margin-top: 3px;
    font-size: 26px;
    font-weight: 400;
  }
  
  .top__title h4 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0px;
    margin-bottom: 15px;
    color: white;
  }
  
  .top__title--links {
    margin-top: 12px;
  }
  
  .top__title--links a {
    font-size: 21px;
    font-weight: 400;
    color: var(--a);
  }
  
  .top__title--links a:nth-child(2) {
    margin-left: 30px;
  }
  
  .top__title--links a img {
    width: 12px;
  }
  
  .bottom__title {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 50px;
    text-align: center;
    z-index: 3;
  }
  
  .bottom__title h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    color: var(--greyDark);
  }

  .bottom__title2 {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 50px;
    text-align: center;
    z-index: 3;
  }

  .bottom__title2 h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    color: var(--white);
  }
  
  .bottom__title h2:nth-child(1) {
    color: var(--greyDark);
    font-weight: 600;
  }
  

  
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .section1 {
    height: 900px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .section1 .background {
    top: 21%;
  }
  
  .section2 {
    height: 950px;
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #000;
  }
  
  .section2 .background {
    top: 20%;
  }
  
  .section3 {
    width: 100%;
    height: 1000px;
    overflow: hidden;
    position: relative;
    background: #000;
  }
  
  .section3 h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .section3 h1 img {
    width: 38px;
  }
  
  .section3 .background {
    width: 1000px;
    height: 450px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }
  
  .section4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }
  
  .footer {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    background: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .footer__copyright {
    width: 100%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 13px;
    color: #86868b;
    margin-top: 40px;
    position: relative;
  }